{% extends "layout.html" %}
{% block content %}

<div class="container py-4 py-xl-5">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col" style="margin-left: 0px;"><img class="rounded w-100 h-100 fit-cover" style="min-height: 300px;"
                                                        src="static/assets/img/tamas-tuzes-katai-rEn-AdBr3Ig-unsplash.jpg"
                                                        width="456" height="570"></div>
        <div class="col d-flex flex-column justify-content-center p-4">
            <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start">
                <div>
                    <h4 style="color: black;text-decoration: underline;">Ghana Digital Address Route Finder</h4>
                    <p style="color: black;">Welcome to the Ghana Digital Address Route Finder! This platform allows you
                        to find routes between two locations using the Ghana Digital Address System.</p><a
                        class="btn btn-primary" role="button" data-bss-hover-animate="swing"
                        style="background: #070031;border-width: 2px;border-color: var(--bs-border-color-translucent);"
                        href="{{ url_for('home') }}">Proceed
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-32 0 512 512" width="1em" height="1em"
                         fill="currentColor">
                        <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                        <path d="M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z"></path>
                    </svg>
                </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}